/*-- Details/Disclosure Styles --*/

details[open] > * {
  margin-left: .5rem !important;
  padding-left: .5rem;
  border-left: 1px solid rgba(0,0,0,.8);
}

.dark details[open] > * {
  border-left: 1px solid rgba(255, 255, 255, 0.8);
}

div.highlight,
pre {
  position: relative;
  margin: 10px 0px;
}

