/*-- scss:defaults --*/

// Color variables
$primary-blue: #0056b3;
$danger-red: #ff0039;
$warning-yellow: #ffc107;
$success-green: #3fb618;

// Border radius
$border-radius-default: .25rem;
$border-radius-button: 15px;

